@media(max-width:1024px) {
    .heading .head {
        /* background-color: rebeccapurple; */
        display: block !important;
        align-items: center;
    }

    .head .left,
    .head .right {
        margin: 0px auto !important;
        width: 100% !important;
    }

    .head .left {
        padding: 0 10% !important;
    }

    .head .right {
        width: 40vw !important;
        margin: 60px 10% !important;
        align-items: center !important;
    }

    iframe {
        width: 80vw !important;
        height: 35vh !important;
    }

    /* ........ */

    .photo {
        margin-top: 60px;
        width: 68% !important;
        margin-left: 15% !important;
    }

    .right .photo2 {
        width: 80% !important;
    }

    .photo3 {
        width: 79% !important;
    }

    .photo4 {
        width: 90% !important;
    }





    .feat img {
        width: 100vw;
    }


    .more .fivefeat {
        padding: 10px;
    }

    .container {
        width: 1200%;
    }



    .aboutus .about {
        margin-top: 50px;
    }

    .aboutus .right {
        padding-right: 50px !important;
    }



}


/* --------------FOR MOBLIE--------------- */

@media (max-width:576px) {
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    .hamburger {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav .left{
        margin-left: 0px;
    }
    .nav .right{
        display: none;
    }
    .head .left .heading {
        font-size: 1.6rem !important;
    }
    .heading .head {
        /* background-color: rebeccapurple; */
        display: block;
        align-items: center;
        margin-top: 0px !important;
        padding-top: 20px;
    }

    .head .left .heading {
        font-size: 2rem;
    }

    .left .buttons {
        display: block !important;
        padding-top: 10px;
        text-align: -webkit-center;
        /* grid-template-columns: auto auto; */
    }

    .left .buttons .btn1 {
        margin-bottom: 10px;
        width: 80%;
    }

    .left .buttons .btn2 {
        width: 200px;
    }

    iframe {
        width: 80vw;
        height: 200px;
        margin-right: 0px !important;
    }

    .fet1 {
        display: none !important;
    }

    .mobilefet {
        display: block !important;
        text-align: center;
        align-items: center;
    }


    .fivefeat {
        display: block !important;
    }

    .fivefeat .card img {
        display: none;
    }

    .mobilecard .card img {
        display: block !important;
        margin: 40px 10px;
    }

    .aboutus {
        display: block !important;
        text-align: center;
        padding: 20px !important;
    }

    .aboutus .right {
        padding: 0 !important;
        font-size: 1.5rem !important;

    }
    .mob_nav{
        display: none;
    }
    .mob_nav.active {
        display: grid !important;
    }
}